[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
ipykernel = "*"
pyarrow = "*"
tqdm = "*"
seaborn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
lightning = "*"
imblearn = "*"
mlflow = "*"
fairlearn = "*"

[dev-packages]

[requires]
python_version = "3.11"
